html {
  font-size: 14px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;   
}

body {
    margin: 0px;
}

footer {
    position: fixed;
    bottom: 10px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: white;
}

#table-Despesas td {
    text-align: start;
}

.field-validation-error {
    color: #e01d1d;
    display: flex;
    margin-left: 6px;
}

body, html {
    height: 100%;
    margin: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: url(../images/DespesaAdd-Desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(10px);
}

#formAddDespesa {
    margin-top: 20px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 20px;
    padding: 90px;
    background-color: white;
}

    #formAddDespesa div {
        margin-bottom: 20px;
    }

#parcelado input {
    margin-bottom: 20px;
    width: 100px;
}

@media(width < 400px) {
    .container {
        width: 95%; /* Quando a tela for menor que 600px, a largura será 95% */
    }

    .hidden-on-small {
        display: none;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background: url(../images/DespesaAdd-Desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        filter: blur(10px);
    }

    #formAddDespesa {
        margin-top: 20px;
        width: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        color: black;
        border: none;
        padding: 90px;
    }
}