html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: white;
}

footer div{
    text-align: start;
    width: 100%;
    background-color: white;
    padding-bottom: 5px;
}

#table-Despesas td {
    text-align: start;
}

.field-validation-error {
    color: #e01d1d;
    display: flex;
    margin-left: 6px;
}

body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Ou 'row' dependendo de como quer que os itens sejam alinhados */
    align-items: center; /* Alinha os itens no centro horizontalmente */
    text-align: center; /* Centraliza o texto dentro de cada item */
    width: 900px;
}

.item {
    padding: 10px;
    border-radius: 25px;
    background-color: blue;
    transition: .35s;
    cursor: pointer;
    margin-bottom: 5px;
    width: 900px;
    height: 70px;
}   

h4 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}